<div class="text-center">
<h1>WORD</h1><h1>UNSCRAMBLER!</h1>
</div>
<div class="search">
  <app-search></app-search>
</div>
<div class="text-center">
  <p class="info">If you notice any missing words please contact me at ryangundu@hotmail.com</p>
  <p class="info">Swear words are not included!</p>
  <a class="btn btn-outlined btn-theme btn-lg scoreBtn" data-wow-delay="0.7s" data-toggle="collapse" data-target="#scoreSystem" aria-expanded="false" aria-controls="scoreSystem">Score System</a>
  <div class="collapse" id="scoreSystem">
    <div class="text-center info">
      <p>Blanks = 0 points</p>
      <p>A,E,O,T,I,N,R,S,L,U = 1 point</p>  
      <p> D,G = 2 points</p>
      <p>C,M,B,P = 3 points</p>
      <p>H,F,W,Y,V = 4 points</p>
      <p>K = 5 points</p>
      <p>J,X = 8 points</p>
      <p>Q,Z = 10 points</p>
    </div>
  </div>
</div>
<footer>
  <div class="text-center">Created by Ryan Gundu</div>
</footer>






